.App {
  text-align: center;
  background-color: #dbe7f5
}

.App-header {
  background-color: #033076;
  min-height: 75px;
  padding: 25px;
  color: white;
}

.App-header h1, h4 {
  background-color: #033076;
}

.App-title {
  font-size: 50px;
}
.App-intro {
  font-size: larger;
}


body {
  background-color: #dbe7f5
}
